* {
  margin: 0;
}

:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --hero-bg: rgba(46, 47, 66, 0.7);
  --white-bg: #fff;
  --modal-bg: #fcfcfc;
}

body {
  background-color: var(--white-bg);
  color: var(--text);
  font-family: var(--main-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  margin: 0 auto;
}

/* START NAV SECTION */
.top__nav {
  justify-content: space-between;
}

.menu__nav {
}

.nav__item,
.nav__address__item {
}

.nav__address {
  font-style: normal;
}

.logo {
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: var(--primary-brand);
  text-transform: uppercase;
}

.logo__part2 {
  color: var(--dark);
}

.nav__link {
  font-family: var(--main-font);
  color: var(--dark);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.link:hover {
  color: var(--pressed-state);
}
.link:focus {
  color: var(--pressed-state);
}
.address__link {
  color: var(--text);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
}

/* END NAV SECTION */

/* START HERO SECTION */
.hero__bg {
  background-color: var(--dark);
  justify-content: center;
}

.hero__container {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.main__heading {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.primary__button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.primary__button:hover {
  background-color: #404bbf;
}

.primary__button:focus {
  background-color: #404bbf;
}

/* END HERO SECTION */

/* START FEATURES SECTION */
.features__section_text {
  margin: 120px 0;
}

.feature__text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--text);
}
.feature__heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature__heading1 {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}

.feature__heading2 {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}

.feature__heading3 {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}

/* END FEATURES SECTION */

/* START SECTION 2 SECTION */
.section-2_heading {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}

.section-2__imgs {
  justify-content: space-between;
  margin-bottom: 116px;
}

/* END SECTION 2 SECTION */
/* START OUR TEAM SECTION */
.our-team__bg {
  background-color: var(--light);
}

.our-team__heading {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}

.our-team__imgs {
  justify-content: center;
}

.team-card__heading {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.team-card__text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text);
}

.team-card {
  background-color: var(--white-bg);
}

/* END OUR TEAM SECTION */
/* START FOOTER SECTION */
.footer-bg {
  background-color: var(--dark);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.link {
  text-decoration: none;
}

.logo__part2-footer {
  color: #f4f4fd;
}

.footer__text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.footer__text_container {
  line-height: 1.5;
  color:#F4F4FD;
  letter-spacing: 0.02em;
}

/* END FOOTER SECTION */
